/* MAIN SCSS FILE FOR ALL PAGES */

.responsive-img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Larger than tablet */
@media (min-width: 750px) {
	/* Navbar */
	.active-nav {
		text-decoration: underline;
	}
	.nav-link {
		cursor: pointer;
		float: right;
		margin-left: 4%;
		font-size: .8em;
		font-weight: 600;
		letter-spacing: .2rem;
		text-decoration: none;
		line-height: 6.5rem;
		color: #222;
		&:hover {
			color: #33C3F0;
		}
	}
	.nav-name {
		float: left;
		font-size: 1.2em;
		line-height: 7rem;
		margin-left: 0;
	}
	.navbar {
		+ .docs-section {
			border-top-width: 0;
		}
		display: block;
		position: fixed;
		width: 80%;
		@media (min-width: 1200px) {
			width: 960px;
		}
		height: 6.5rem;
		background: #fff;
		z-index: 99;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		> .container {
			width: 100%;
		}
	}
	.navbar-list {
		list-style: none;
		margin-bottom: 0;
	}
	.navbar-item {
		position: relative;
		margin-bottom: 0;
	}
	.has-docked-nav {
		.navbar {
			position: fixed;
			top: 0;
			left: 0;
		}
		.navbar-spacer {
			display: block;
		}
		.navbar > .container {
			width: 80%;
		}
	}	
	.content-container {
		width: 100%;
		top: 69px;
	}

	#section-front {
		.embed-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
			iframe, object, embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	#section-works {
		display: none;

		.works-header {
			position: relative;
		}
		.recent-works-text {
			position: absolute;
			color: white;
			text-align: center;
			width: 100%;
			top: 50%;
		}

	}

	#section-about {
		display: none;
	}

	#section-contact {
		display: none;
	}
  /* Re-overiding the width 100% declaration to match size of % based container */
  /* Popover 
  .popover {
    &.open {
      display: block;
    }
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
    -moz-filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
  }
  .popover-item:first-child .popover-link {
    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
    &:before {
      border-color: rgba(238, 238, 238, 0);
      border-bottom-color: #eee;
      border-width: 11px;
      margin-left: -11px;
    }
  }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .popover-item {
    padding: 0;
    margin: 0;
  }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem;
  }
  .popover-item {
    &:first-child .popover-link {
      border-radius: 4px 4px 0 0;
    }
    &:last-child .popover-link {
      border-radius: 0 0 4px 4px;
      border-bottom-width: 0;
    }
  }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0;
    border-bottom-color: #33C3F0;
  }
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0;
  }*/
}